body
{
    margin:0px;
    padding:0px;
    height: 100dvh;
    border:1 px solid black;
    background: linear-gradient(to bottom, #dbe9f4, #a2c3dd, #88b0d3); 
}

.total
{
    align-items: center;
    justify-content: center; 
    display: grid;

}