body
{
    margin:0px;
    padding:0px;
    height: 100dvh;
    border:1 px solid black; 
    background: linear-gradient(to bottom, #c9d6ff, #e2e2e2);
}

.total
{
    align-items: center;
    justify-content: center; 
    display: grid;

}
